USE [AnimeMangaInfos]
GO
/****** Object:  Table [dbo].[Anime]    Script Date: 25/08/2020 16:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Anime](
	[IdAnime] [varchar](50) NOT NULL,
	[NomAnime] [varchar](250) NOT NULL,
	[IdStudio] [varchar](50) NULL,
	[IdAuthor] [varchar](50) NULL,
	[IdMangaCanon] [varchar](50) NULL,
 CONSTRAINT [PK_Anime] PRIMARY KEY CLUSTERED 
(
	[IdAnime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AnimeEpisodeList]    Script Date: 25/08/2020 16:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AnimeEpisodeList](
	[IdEpisode] [nvarchar](50) NOT NULL,
	[NumberEpisode] [int] NOT NULL,
	[TitleEpisode] [varchar](450) NULL,
	[TypeEpisode] [varchar](50) NULL,
	[AiringDateEpisode] [nchar](30) NULL,
	[IdAnime] [varchar](50) NULL,
 CONSTRAINT [PK_animeFillerList] PRIMARY KEY CLUSTERED 
(
	[IdEpisode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 25/08/2020 16:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Authors](
	[IdAuthor] [varchar](50) NOT NULL,
	[NomAndPrenom] [varchar](50) NULL,
	[NickName] [varchar](50) NULL,
	[DateNaissance] [date] NULL,
	[IdCountry] [varchar](50) NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[IdAuthor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 25/08/2020 16:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Countries](
	[IdCounty] [varchar](50) NOT NULL,
	[NomCountry] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[IdCounty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 25/08/2020 16:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Genres](
	[IdGenre] [varchar](50) NOT NULL,
	[NomGenre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[IdGenre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Manga]    Script Date: 25/08/2020 16:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Manga](
	[IdManga] [varchar](50) NOT NULL,
	[NomManga] [varchar](250) NOT NULL,
	[IdAuthor] [varchar](50) NULL,
	[Magasin] [varchar](50) NULL,
 CONSTRAINT [PK_Manga] PRIMARY KEY CLUSTERED 
(
	[IdManga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MangaChapterList]    Script Date: 25/08/2020 16:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MangaChapterList](
	[IdChapter] [varchar](50) NOT NULL,
	[NumberChapter] [float] NOT NULL,
	[TitleChapter] [varchar](500) NULL,
	[OnlineChapter] [date] NULL,
	[IdManga] [varchar](50) NULL,
 CONSTRAINT [PK_MangaChapterList] PRIMARY KEY CLUSTERED 
(
	[IdChapter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MangaGenre]    Script Date: 25/08/2020 16:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MangaGenre](
	[IdManga] [varchar](50) NOT NULL,
	[IdGenre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AnimeGenre] PRIMARY KEY CLUSTERED 
(
	[IdManga] ASC,
	[IdGenre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Studios]    Script Date: 25/08/2020 16:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Studios](
	[IdStudio] [varchar](50) NOT NULL,
	[NomStudio] [varchar](50) NULL,
	[IdCountry] [varchar](50) NULL,
 CONSTRAINT [PK_Studios] PRIMARY KEY CLUSTERED 
(
	[IdStudio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Anime] ([IdAnime], [NomAnime], [IdStudio], [IdAuthor], [IdMangaCanon]) VALUES (N'98cf6df1-2941-4ac7-a82e-055486089792', N'Naruto', N'g4u23h4g-b97c-4cc8-9c90-c2894e8a464f', N'40713f7b-b97c-4cc8-9c90-c2894e8a464f', NULL)
INSERT [dbo].[Anime] ([IdAnime], [NomAnime], [IdStudio], [IdAuthor], [IdMangaCanon]) VALUES (N'b5426ddb-4373-4a68-a9ea-abaf2b2d733d', N'Naruto Shipuuden', N'g4u23h4g-b97c-4cc8-9c90-c2894e8a464f', N'40713f7b-b97c-4cc8-9c90-c2894e8a464f', NULL)
INSERT [dbo].[AnimeEpisodeList] ([IdEpisode], [NumberEpisode], [TitleEpisode], [TypeEpisode], [AiringDateEpisode], [IdAnime]) VALUES (N'0068c71b-08fa-49c7-8a34-2c278bd56907', 411, N'The Targeted Tailed Beast', N'filler            ', N'2015-05-07                    ', N'b5426ddb-4373-4a68-a9ea-abaf2b2d733d')
INSERT [dbo].[AnimeEpisodeList] ([IdEpisode], [NumberEpisode], [TitleEpisode], [TypeEpisode], [AiringDateEpisode], [IdAnime]) VALUES (N'0140e64d-b2d6-409a-9652-0b23129508d5', 174, N'Impossible! Celebrity Ninja Art - Money Style Jutsu!', N'filler            ', N'2006-03-01                    ', N'98cf6df1-2941-4ac7-a82e-055486089792')
INSERT [dbo].[AnimeEpisodeList] ([IdEpisode], [NumberEpisode], [TitleEpisode], [TypeEpisode], [AiringDateEpisode], [IdAnime]) VALUES (N'01461ff3-499e-4584-a024-b7bd5cf199ed', 375, N'Kakashi vs. Obito', N'manga_canon       ', N'2014-09-04                    ', N'b5426ddb-4373-4a68-a9ea-abaf2b2d733d')
GO
INSERT [dbo].[Authors] ([IdAuthor], [NomAndPrenom], [NickName], [DateNaissance], [IdCountry]) VALUES (N'40713f7b-b97c-4cc8-9c90-c2894e8a464f', N'Masashi kishimoto', NULL, NULL, N'12031d8e-1990-49ff-b107-6017e0ef790c')
INSERT [dbo].[Countries] ([IdCounty], [NomCountry]) VALUES (N'12031d8e-1990-49ff-b107-6017e0ef790c', N'Japan')
INSERT [dbo].[Countries] ([IdCounty], [NomCountry]) VALUES (N'1649455b-0723-4ab4-bac3-6a2af61229c6', N'North Korea')
INSERT [dbo].[Countries] ([IdCounty], [NomCountry]) VALUES (N'fafba7fa-2420-44c0-80de-4888b35acb3e', N'China')
INSERT [dbo].[Studios] ([IdStudio], [NomStudio], [IdCountry]) VALUES (N'g4u23h4g-b97c-4cc8-9c90-c2894e8a464f', N'Pirreut', N'12031d8e-1990-49ff-b107-6017e0ef790c')
ALTER TABLE [dbo].[Anime]  WITH CHECK ADD  CONSTRAINT [FK_Anime_Authors] FOREIGN KEY([IdAuthor])
REFERENCES [dbo].[Authors] ([IdAuthor])
GO
ALTER TABLE [dbo].[Anime] CHECK CONSTRAINT [FK_Anime_Authors]
GO
ALTER TABLE [dbo].[Anime]  WITH CHECK ADD  CONSTRAINT [FK_Anime_Manga] FOREIGN KEY([IdMangaCanon])
REFERENCES [dbo].[Manga] ([IdManga])
GO
ALTER TABLE [dbo].[Anime] CHECK CONSTRAINT [FK_Anime_Manga]
GO
ALTER TABLE [dbo].[Anime]  WITH CHECK ADD  CONSTRAINT [FK_Anime_Studios] FOREIGN KEY([IdStudio])
REFERENCES [dbo].[Studios] ([IdStudio])
GO
ALTER TABLE [dbo].[Anime] CHECK CONSTRAINT [FK_Anime_Studios]
GO
ALTER TABLE [dbo].[AnimeEpisodeList]  WITH CHECK ADD  CONSTRAINT [FK_animeFillerList_Anime] FOREIGN KEY([IdAnime])
REFERENCES [dbo].[Anime] ([IdAnime])
GO
ALTER TABLE [dbo].[AnimeEpisodeList] CHECK CONSTRAINT [FK_animeFillerList_Anime]
GO
ALTER TABLE [dbo].[Authors]  WITH CHECK ADD  CONSTRAINT [FK_Authors_Countries] FOREIGN KEY([IdCountry])
REFERENCES [dbo].[Countries] ([IdCounty])
GO
ALTER TABLE [dbo].[Authors] CHECK CONSTRAINT [FK_Authors_Countries]
GO
ALTER TABLE [dbo].[Manga]  WITH CHECK ADD  CONSTRAINT [FK_Manga_Authors] FOREIGN KEY([IdAuthor])
REFERENCES [dbo].[Authors] ([IdAuthor])
GO
ALTER TABLE [dbo].[Manga] CHECK CONSTRAINT [FK_Manga_Authors]
GO
ALTER TABLE [dbo].[MangaChapterList]  WITH CHECK ADD  CONSTRAINT [FK_MangaChapterList_Manga] FOREIGN KEY([IdManga])
REFERENCES [dbo].[Manga] ([IdManga])
GO
ALTER TABLE [dbo].[MangaChapterList] CHECK CONSTRAINT [FK_MangaChapterList_Manga]
GO
ALTER TABLE [dbo].[MangaGenre]  WITH CHECK ADD  CONSTRAINT [FK_AnimeGenre_Genres] FOREIGN KEY([IdGenre])
REFERENCES [dbo].[Genres] ([IdGenre])
GO
ALTER TABLE [dbo].[MangaGenre] CHECK CONSTRAINT [FK_AnimeGenre_Genres]
GO
ALTER TABLE [dbo].[MangaGenre]  WITH CHECK ADD  CONSTRAINT [FK_AnimeGenre_Manga] FOREIGN KEY([IdManga])
REFERENCES [dbo].[Manga] ([IdManga])
GO
ALTER TABLE [dbo].[MangaGenre] CHECK CONSTRAINT [FK_AnimeGenre_Manga]
GO
ALTER TABLE [dbo].[Studios]  WITH CHECK ADD  CONSTRAINT [FK_Studios_Countries] FOREIGN KEY([IdCountry])
REFERENCES [dbo].[Countries] ([IdCounty])
GO
ALTER TABLE [dbo].[Studios] CHECK CONSTRAINT [FK_Studios_Countries]
GO
